@{
    ViewData["Title"] = "Edit Page";
}
@{
    var item = ViewBag.employee; 
    var oldItem = ViewBag.oldEmployee;
}

<div class="container mt-5 border p-4 rounded-3">
    <div> <h1> info update </h1> </div>
    <div>
        <p> Id : @item.Id </p>
        <p> name : @oldItem.name => @item.name </p>
        <p> city : @oldItem.city => @item.city </p>
        <p> salary : @oldItem.salary => @item.salary </p>
    </div>
    <div>
        <a asp-controller="Home" asp-action="Index" type="button" class="btn btn-info mx-1 text-white"> GO HOME </a>
    </div>
</div>
